h1, h2, h3 {
  font-family: $tittle-font;
  font-size: $title-size;
  font-weight: 900;
  margin-bottom: 0px;
}
p {
  font-size: $subtitle-size;
  font-family: $p-font;
  font-weight: 400;
}
.mini-title {
  font-family: $tittle-font;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
}
.little-p {
  font-family: $p-font;
  font-weight: 300;
}
.medium-p {
  font-size: 20px;
}
.mini-little-p {
  @media (min-width: $phone-width) {
    font-size: 15px;
  }
  font-family: $p-font;
  font-weight: 400;
  font-size: 11px;
}
.bajada {
  font-size: 23px;
  color: $light-pink;
  font-family: $p-font;
  font-style: italic;
  font-weight: 300;
}
.white-text {
  color: $white;
}
.purple-text {
  color: $purple;
}
.white-text {
  color: $white;
}
.black-text {
  color: $black;
}
.pink-text {
  color: $light-pink;
}
.grey-text {
  color: $light-grey;
}
.bold-text {
  font-weight: 700;
}
.big-text {
  font-size: 50px;
  font-weight: 700;
}
.little-text {
  font-size: 18px;
  font-weight: 400;
}
.tachado {
  text-decoration: line-through;
}