#nosotros {
  padding-bottom: 100px;
  h2 {
    padding: 100px 0px;
  }
  img {
    height: 100px;
    margin: 24px;
  }

}
.us-cont {
  display: grid;
  align-content: space-between;
  justify-items: center;
  @media (max-width: $big-tablet-width) and (min-width: $phone-width){
    padding: 20px 150px;
  }
}