.gif-pc-cont {
  display: grid;
  justify-items: center;
  justify-content: center;
}
.gif-pc {
  @media (min-width: $big-tablet-width) and (max-width: $desktop-width) {
    margin-top: -48vh;
  }
  @media (min-width: $desktop-width) {
    margin-top: -55vh;
  }
  margin-top: -40vh;
}
#propuesta {
  h2 {
    margin-top: 30px;
  }
}