#reviews {
  background-color: #EEEDF0;
  h2 {
    padding: 70px 0px;
  }
  a {
    margin-bottom: -40px;
  }
  .mini-little-p {
    @media (min-width: $desktop-width) {
      font-size: 15px;
    }
  }
}
.logo-cliente {
  width: 138px;
  margin: 32px;
}
.btn-purple {
  position: absolute; /* Añade posición absoluta */
  bottom: 15px; /* Alinea en la parte inferior de la tarjeta */
  left: 50%; /* Alinea horizontalmente al centro */
  transform: translateX(-50%); /* Alinea horizontalmente al centro */
}