#accordionFaqs {
  margin-top: 30px;
  .accordion-item {
    padding-bottom: 24px;
    border-radius: 20px;
    border-color: transparent;
  }
  .accordion-button {
    background-color: $white;
    margin: 0px;
    border-radius: 20px;
  }
  .accordion-button:not(.collapsed) {
    background-color: $white;
    color: $black;
  }
  .accordion-button:focus {
    border: 1px solid $purple;
    box-shadow: none;
  }
  .accordion-body {
    padding: 14px 28px;
    line-height: 33px;
  }
  .accordion-item {
    background-color: transparent;
  }
  button {
    font-family: $p-font;
  }
}
