.btn-fuchsia {
  background-color: $fuchsia;
  color: $white;
  font-family: $p-font;
  font-size: 17px;
  text-transform: uppercase;
  padding: 8px 24px;
  height: 3rem;
}

.btn-fuchsia:hover {
  color: $fuchsia;
  border-color: $fuchsia;
  background-color: transparent;
  text-decoration: none;
}
.btn-purple {
  background-color: $purple;
  color: $white;
  font-family: $p-font;
  font-size: 17px;
  padding: 8px 24px;
  height: 3rem;
  border-radius: 30px;
  line-height: 25px;
}
.btn-purple:hover {
  background-color: $white;
  border: 1px solid $purple;
  color: $purple;
}
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}
.whatsapp-icon {
  opacity: 0.8;
  transition: 0.7s;
  width: 53px;
}
.whatsapp-icon:hover {
  opacity: 1;
}