#comofunciona {
  .card {
    border-radius: 35px;
    border-color: $light-pink;
    margin-bottom: 54px;
    max-width: 408px;
    min-height: 474px;
  }
  .card-body {
    padding: 72px 36px 55px;
  }
}
#reviews {
  .card-text{
    margin-bottom: 10px;
    &.mini-little-p {
      margin-bottom: 30px;
    }
  }
    
  .card {
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
    border: 1px solid #FFF;
    max-width: 408px;
    min-height: 527px;
    margin-bottom: 80px;
    @media (min-width: 1400px) {
      min-height: 482px;
    }
  }
}
.number {
  background-color: $light-pink;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  margin-top: -50px;
}
.step-cont {
  @media (max-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }
}
