@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,700;8..60,900&display=swap");
#app {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: #000;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0px;
}

h1, h2, h3 {
  font-family: "Source Serif Pro", serif;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  h1, h2, h3 {
    font-size: 55px;
  }
}

p, li {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@media (min-width: 1200px) {
  p, li {
    font-size: 30px;
  }
}

.mini-title {
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
}

.little-p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.medium-p {
  font-size: 20px;
}

.mini-little-p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

@media (min-width: 1200px) {
  .mini-little-p {
    font-size: 20px;
  }
}

.bajada {
  font-size: 23px;
  color: #FF93F4;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 300;
}

.white-text {
  color: #fff;
}

.purple-text {
  color: #763BFF;
}

.white-text {
  color: #fff;
}

.black-text {
  color: #000;
}

.pink-text {
  color: #FF93F4;
}

.grey-text {
  color: #8E899D;
}

.fuchsia-text {
  color: #FF3A81;
}

.bold-text {
  font-weight: 700;
}

.big-text {
  font-size: 50px;
  font-weight: 700;
}

.little-text {
  font-size: 11px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .little-text {
    font-size: 18px;
  }
}

.tachado {
  text-decoration: line-through;
}

.sans {
  font-family: "Source Serif Pro", serif;
}

.no-bold {
  font-weight: 400;
}

#collapse3 ul {
  list-style-type: none;
}

.btn-fuchsia {
  background-color: #FF3A81;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  padding: 8px 24px;
  height: 3rem;
}

.btn-fuchsia:hover {
  color: #FF3A81;
  border-color: #FF3A81;
  background-color: transparent;
  text-decoration: none;
}

.btn-purple {
  background-color: #763BFF;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  padding: 8px 24px;
  height: 3rem;
  border-radius: 30px;
  line-height: 25px;
}

.btn-purple:hover {
  background-color: #fff;
  border: 1px solid #763BFF;
  color: #763BFF;
}

.wave-comp {
  padding-bottom: 20px;
  width: 200%;
}

@media (min-width: 768px) {
  .wave-comp {
    width: 100%;
  }
}

.invertir {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: -2px;
  margin-top: 0px;
}

.mt-neg {
  margin-top: -1px;
}

#comofunciona .card {
  border-radius: 35px;
  border-color: #FF93F4;
  margin-bottom: 54px;
  max-width: 408px;
  min-height: 474px;
}

#comofunciona .card-body {
  padding: 72px 36px 55px;
}

#reviews .card-text {
  margin-bottom: 10px;
}

#reviews .card-text.mini-little-p {
  margin-bottom: 30px;
}

#reviews .card {
  -webkit-box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  border: 1px solid #FFF;
  max-width: 408px;
  min-height: 527px;
  margin-bottom: 80px;
}

@media (min-width: 1400px) {
  #reviews .card {
    min-height: 482px;
  }
}

.number {
  background-color: #FF93F4;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
}

@media (max-width: 1200px) {
  .step-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#accordionFaqs {
  margin-top: 30px;
}

#accordionFaqs .accordion-item {
  padding-bottom: 24px;
  border-radius: 20px;
  border-color: transparent;
}

#accordionFaqs .accordion-button {
  background-color: #fff;
  margin: 0px;
  border-radius: 20px;
}

#accordionFaqs .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #000;
}

#accordionFaqs .accordion-button:focus {
  border: 1px solid #763BFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#accordionFaqs .accordion-body {
  padding: 14px 28px;
  line-height: 33px;
}

#accordionFaqs .accordion-item {
  background-color: transparent;
}

#accordionFaqs button {
  font-family: "Lato", sans-serif;
}

.pre-header {
  padding: 10px 0px;
}

header {
  background-color: #763BFF;
}

nav {
  padding: 32px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: 69px;
}

.main-title {
  padding: 100px 12px 30vh;
}

@media (min-width: 1200px) {
  .main-title {
    padding: 70px 200px 25vh;
  }
}

.gif-pc-cont {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gif-pc {
  margin-top: -40vh;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .gif-pc {
    margin-top: -48vh;
  }
}

@media (min-width: 1200px) {
  .gif-pc {
    margin-top: -55vh;
  }
}

#propuesta h2 {
  margin-top: 30px;
}

#incluye {
  background: -webkit-gradient(linear, left top, left bottom, from(#763BFF), color-stop(98.68%, #C16BF9));
  background: linear-gradient(180deg, #763BFF 0%, #C16BF9 98.68%);
  text-align: center;
}

#incluye h2 {
  padding: 70px 0px 20px;
}

.secciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .secciones {
    margin: 30px;
  }
  .secciones .seccion-right {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 532px;
    margin-right: 150px;
  }
  .secciones .seccion-left {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 532px;
    margin-left: 150px;
  }
}

.seccion-left, .seccion-right {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  margin: 10px;
}

.seccion-left p, .seccion-right p {
  padding: 16px;
}

.bg-pink {
  background-color: #FF93F4;
  color: #fff;
}

#comofunciona h2 {
  padding: 70px 0px 100px;
}

#comofunciona .row {
  padding-bottom: 100px;
}

#reviews {
  background-color: #EEEDF0;
}

#reviews h2 {
  padding: 70px 0px;
}

#reviews a {
  margin-bottom: -40px;
}

@media (min-width: 1200px) {
  #reviews .mini-little-p {
    font-size: 15px;
  }
}

.logo-cliente {
  width: 138px;
  margin: 32px;
}

.btn-purple {
  position: absolute;
  /* Añade posición absoluta */
  bottom: 15px;
  /* Alinea en la parte inferior de la tarjeta */
  left: 50%;
  /* Alinea horizontalmente al centro */
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Alinea horizontalmente al centro */
}

#nosotros {
  padding-bottom: 70px;
}

#nosotros h2 {
  padding: 60px 0px;
}

#nosotros img {
  height: 100px;
  margin: 24px;
}

.us-cont {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  justify-items: center;
  margin-top: 32px;
}

@media (max-width: 992px) and (min-width: 576px) {
  .us-cont {
    padding: 20px 150px;
  }
}

@media (min-width: 992px) {
  .us-cont {
    margin-top: 0px;
  }
}

#cta {
  position: relative;
  background-color: #763BFF;
}

#cta .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 992px) {
  .cta-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cta-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#somos {
  padding-bottom: 100px;
}

#somos h2 {
  padding-top: 100px;
}

#somos .mini-title, #somos .medium-p {
  color: #1B1629;
}

#somos img {
  width: 275px;
}

#somos .row {
  margin: 50px 0px;
}

#preguntas {
  background-color: #EEEDF0;
}

#lanzamiento {
  padding-bottom: 100px;
}

#lanzamiento h2 {
  padding-top: 100px;
}

#lanzamiento .fuchsia-text {
  text-decoration: underline;
}

footer img {
  width: 170px;
  margin: 30px;
}
/*# sourceMappingURL=style.css.map */